<div class="pagination">
  <div class="pagination-wrapper">
    <ul>
      {% if paginator.previous_page %}
        <li>
          <a href="{{ paginator.previous_page_path }}">Previous</a>
        </li>
      {% else %}
        <li>
          <a href="#" disabled>Previous</a>
        </li>
      {% endif %}
    </ul>
    <ul>
      <li>
        Page {{ paginator.page }} of {{ paginator.total_pages }}
      </li>
    </ul>
    <ul>
      {% if paginator.next_page %}
        <li>
          <a href="{{ paginator.next_page_path }}">Next</a>
        </li>
      {% else %}
        <li>
          <a href="#" disabled="disabled">Next</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
